<%= form_for(@demoscaffold) do |f| %>
  <% if @demoscaffold.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@demoscaffold.errors.count, "error") %> prohibited this demoscaffold from being saved:</h2>

      <ul>
      <% @demoscaffold.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
