<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @demoscaffold.title %>
</p>

<p>
  <b>Body:</b>
  <%= @demoscaffold.body %>
</p>


<%= link_to 'Edit', edit_demoscaffold_path(@demoscaffold) %> |
<%= link_to 'Back', demoscaffolds_path %>

