><%= link_to 'projects/'+@project.name, projects_path %>>Uesr Story信息 

<p id="notice"><%= notice %></p>




<div id="accordion">
	<%= render 'user_story'%>
</div>

<div style='display:none'>
	<%= render 'category/form'%>	
</div>

<div style='margin-top:40px;'>
	<button>增加新的User Story</button>
</div>


<div id="dialog-modal"  title="Basic modal dialog">
  <p>Adding the modal overlay screen makes the dialog look more prominent because it dims out the page content.</p>
</div>
 




<%= link_to 'Edit', edit_project_path(@project) %> |
